{% extends "base.html" %}

{% block heading %}
    渠道列表
{% endblock %}

{% block content %}
    <div id="toolbar" class="btn-group">
        <a href="{{ url_for('bp_game.create_channel') }}" class="btn btn-sm btn-info" title="新增">
            <i class="fa fa-plus fa-fw"></i>
        </a>
    </div>
    <table class="table table-striped"
           id="id_channelslist">
    </table>
{% endblock %}

{% block custom_foot_js %}
    <script>
    var csrftoken = $('meta[name=csrf-token]').attr('content');
    var operateFormatter = function (value, row, index) {//赋予的参数
        return [
            '<a href="#" id="edit" class="btn btn-sm btn-info" title="编辑"><i class="fa fa-pencil fa-fw"></i></a>',
            '<a href="#" id="delete" class="btn btn-sm btn-danger" title="删除"><i class="fa fa-trash-o fa-fw"></i></a>'
            ].join(' ');
    }

    window.operateEvents = {
            'click #edit': function (e, value, row, index) {
                window.location.href="/game/edit_channel/" + row.name;
            },

            'click #delete': function (e, value, row, index) {
                swal({
                    title: "Are you sure?",
                    text: "一旦删除，数据将无法恢复！",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: "{{ url_for('bp_game.del_channel') }}",
                                type: "POST",
                                traditional: true,
                                dataType:"json",
                                contentType: "application/json",
                                data: JSON.stringify({"name":row.name}),
                                beforeSend: function (xhr, settings) {
                                    $("#publishlog").val("");
                                    run_waitMe($('.wrapper-content'), 1, 'progressBar');
                                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                                    }
                                },
                                success: function (e) {
                                    if (e['e']) {
                                        swal("删除成功", {
                                            icon: "success",
                                        })
                                        $("#id_channelslist").bootstrapTable('refresh');
                                    } else {

                                    }
                                },
                                complete: function () {
                                    $('.wrapper-content').waitMe('hide');
                                }
                            })
                            {#            });#}
                        } else {
                            {#        swal("Your imaginary file is safe!");#}
                        }
                    });
            }
        }

    $("#id_channelslist").bootstrapTable({
            url:"{{ url_for('bp_game.get_channels') }}",
            pagination:true,
            pageList:[10,20],
            toolbar:'#toolbar',
            search:true,
            classes:"table table-hover",
            columns:[{
                field:'idx',
                title:'序号'
                },
                {
                field:'name',
                title:'渠道'
                },{
                      field: 'operate',
                      title: '操作',
                      align: 'center',
                      valign: 'middle',
                      events: operateEvents,
                      formatter: operateFormatter //自定义方法，添加操作按钮
                  }]
         });
</script>
{% endblock %}