{% extends "base.html" %}

{% block heading %}
    游戏列表
{% endblock %}

{% block content %}
    {% include "scriptModal.html" %}
    <div id="toolbar" class="btn-group">
        <a href="{{ url_for('bp_game.create_game') }}" class="btn btn-sm btn-info" title="新增">
            <i class="fa fa-plus fa-fw"></i>
        </a>
    </div>
    <table class="table table-striped"
           id="id_gameslist">
    </table>
{% endblock %}

{% block custom_foot_js %}
    <script>
    var csrftoken = $('meta[name=csrf-token]').attr('content');

    window.sessionStorage.clear();
     editor = CodeMirror.fromTextArea(document.getElementById("publishlog"), {
        lineNumbers: true,     // 显示行数
        indentUnit: 4,         // 缩进单位为4
        styleActiveLine: true, // 当前行背景高亮
        matchBrackets: true,   // 括号匹配
        mode: 'shell',     // HMTL混合模式
        lineWrapping: true,    // 自动换行
        theme: 'erlang-dark',      // 使用monokai模版
        autoRefresh: true,
    });

    var operateFormatter = function (value, row, index) {//赋予的参数
        return [
            '<a href="#" id="edit" class="btn btn-sm btn-info" title="编辑"><i class="fa fa-pencil fa-fw"></i></a>',
            '<a href="#" id="delete" class="btn btn-sm btn-danger" title="删除"><i class="fa fa-trash-o fa-fw"></i></a>'
            ].join(' ');
    }

    var opsevishellFormatter = function(value,row,index) {
        return '<a href="#" id="openshell" class="btn btn-sm btn-info editshell" title="Edit"><i class="fa fa-pencil fa-fw"></i></a>'
    }

    window.operateEvents = {
            'click #edit': function (e, value, row, index) {
                window.location.href="/game/edit_game/" + row.name;
            },

            'click .editshell':function(e,value,row,index){
                sessionStorage.setItem('game',row.name);
                sessionStorage.setItem("type",e.currentTarget.id);

                var dialog = $('#exampleModal').modal({
                    backdrop: 'static',
                    keyboard: true
                });
                dialog.modal('show');

                $.ajax({
                    url:"{{ url_for('bp_game.get_script') }}",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json", //////不加后台会接收不了数据
                    data:JSON.stringify({'game':row.name,'type':e.currentTarget.id}),
                    beforeSend: function (xhr,settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken)
                            }
                },
                success: function (e) {
                    if (e['status']) {
                        $("#publishlog").val(e["msg"]);
                        $('.CodeMirror').remove();

                        var myTextarea = document.getElementById("publishlog");
                        var CodeMirrorEditor = CodeMirror.fromTextArea(myTextarea, {
                            lineNumbers: true,     // 显示行数
                            indentUnit: 4,         // 缩进单位为4
                            styleActiveLine: true, // 当前行背景高亮
                            matchBrackets: true,   // 括号匹配
                            mode: 'shell',     // HMTL混合模式
                            lineWrapping: true,    // 自动换行
                            theme: 'erlang-dark',      // 使用monokai模版
                            autoRefresh: true,
                        });
                        CodeMirrorEditor.on("change", function (instance, changeObj) {
                            CodeMirrorEditor.save();
                        });

                    }
                    else {
                    }
                },
                complete: function () {
                }
                })
            },

            'click #delete': function (e, value, row, index) {
                swal({
                    title: "Are you sure?",
                    text: "一旦删除，数据将无法恢复！",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: "{{ url_for('bp_game.del_game') }}",
                                type: "POST",
                                data: {"name":row.name},
                                success: function (e) {
                                    if (e['e']) {
                                        swal("删除成功", {
                                            icon: "success",
                                        })
                                        $("#id_gameslist").bootstrapTable('refresh');
                                    } else {

                                    }
                                },
                            })
                            {#            });#}
                        } else {
                            {#        swal("Your imaginary file is safe!");#}
                        }
                    });
            }
        }

    $("#id_gameslist").bootstrapTable({
            url:"{{ url_for('bp_game.get_games') }}",
            pagination:true,
            pageList:[10,20],
            toolbar:'#toolbar',
            search:true,
            classes:"table table-hover",
            columns:[{
                field:'idx',
                title:'序号'
                },
                {
                field:'name',
                title:'游戏'
                },
                {
                field:'openseriveshell',
                title:'开服脚本',
                align:'center',
                valign:'middle',
                events:operateEvents,
                formatter:opsevishellFormatter
                },
                {
                      field: 'operate',
                      title: '操作',
                      align: 'center',
                      valign: 'middle',
                      events: operateEvents,
                      formatter: operateFormatter //自定义方法，添加操作按钮
                  }]
         });

    function savecontent(){
        var scriptcontent = $('#publishlog').val();
        $("#exampleModal").modal("hide");

        $.ajax({
            url: "{{ url_for('bp_game.savecontent') }}",
            type: "POST",
            dataType:'json',
            contentType:"application/json",
            data: JSON.stringify({"content":scriptcontent,"game":sessionStorage.getItem('game'),"type":sessionStorage.getItem('type')}),
            beforeSend: function (xhr,settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken)
                            }
                },
            success: function (e) {
                if (e['status']) {
                    {#layer.msg("保存成功! ", {time: 1000}, function () {#}
                        {#location.href = "{% url 'serviceapp:service_overview' %}";#}
                }
                else {
                }
            },
            complete: function () {
            }
        })
    }
</script>
{% endblock %}