{% extends "base.html" %}
{% import "macro_temps.html" as form %}

{% block heading %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-9">
        <form action="" method="post" class="form form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {{ form.selectgame(Games,type='openservice') }}
            {{ form.selectchannel() }}
            {{ form.selectzone() }}

            <div class="form-group">
                <label class="control-label col-lg-2" for="version"><span style="color: red">* </span>版本</label>
                <div class="col-lg-10">
                    <select class="form-control selectpicker" multiple data-actions-box="true" data-live-search="true" id="id_version" name="version"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <a href="#" onclick="Execute()" class="btn btn-sm btn-info" id="submit" name="submit" type="submit">Execute</a>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="publishlog">执行信息</label>
                <div class="col-lg-offset-2 col-lg-10">
                <textarea id="publishlog" name="publishlog" rows="20" wrap="hard" readonly="readonly">

                </textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div hidden="hidden" id="id_doc"></div>
    </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
    <script type="application/javascript">
    var converter = new showdown.Converter();
    var csrftoken = $('meta[name=csrf-token]').attr('content');


    function Execute() {
        if (!$("#id_game").val() || !$("#id_channel").val() || !$("#id_zone").val() || !$("#id_version").val()) {
            swal({
                title: "必填项不能为空！",
                allowOutsideClick: true,
                text: "2秒后自动关闭.",
                timer: 2000,
                {#              buttons: false#}
            });
            return false;
        }

        $.ajax({
                url: "{{ url_for('bp_game.open_service') }}",
                type: "POST",
                traditional: true,
                dataType:"json",
                contentType: "application/json",
                data: JSON.stringify({
                    id_game:$("#id_game").val(),
                    id_channel:$("#id_channel").val(),
                    id_zone:$("#id_zone").val(),
                    id_version:$("#id_version").val()
                }),
                beforeSend: function (xhr,settings) {
                    $("#publishlog").val("");
                    run_waitMe($('.wrapper-content'), 1, 'progressBar');
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                },
                success: function (e) {
                    $("#publishlog").val(e['msg']);
                },
                complete: function () {
                    $('.wrapper-content').waitMe('hide');
                }
            })

        return false;
    }
    </script>
{% endblock %}