{% extends "base.html" %}

{% block heading %}
    区服列表
{% endblock %}

{% block content %}
    <div id="toolbar" class="btn-group">
        <a href="{{ url_for('bp_game.create_zone') }}" class="btn btn-sm btn-info" title="新增">
            <i class="fa fa-plus fa-fw"></i>
        </a>
    </div>
    <table class="table table-striped"
           id="id_zoneslist">
    </table>
{% endblock %}

{% block custom_foot_js %}
    var operateFormatter = function (value, row, index) {//赋予的参数
        return [
            '<a href="#" id="copy" class="btn btn-sm btn-success" title="拷贝"><i class="fa fa-copy fa-fw"></i></a>',
            '<a href="#" id="edit" class="btn btn-sm btn-info" title="编辑"><i class="fa fa-pencil fa-fw"></i></a>',
            '<a href="#" id="delete" class="btn btn-sm btn-danger" title="删除"><i class="fa fa-trash-o fa-fw"></i></a>'
            ].join(' ');
    }

    window.operateEvents = {
            'click #copy': function (e,value,row,index){
                window.location.href="/game/create_zone/" + row.zone_id;
            },

            'click #edit': function (e, value, row, index) {
                window.location.href="/game/edit_zone/" + row.zone_id;
            },

            'click #delete': function (e, value, row, index) {
                swal({
                    title: "Are you sure?",
                    text: "一旦删除，数据将无法恢复！",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: "{{ url_for('bp_game.del_zone') }}",
                                type: "POST",
                                data: {"zone_id":row.zone_id},
                                success: function (e) {
                                    if (e['e']) {
                                        swal("删除成功", {
                                            icon: "success",
                                        })
                                        $("#id_zoneslist").bootstrapTable('refresh');
                                    } else {

                                    }
                                },
                            })
                            {#            });#}
                        } else {
                            {#        swal("Your imaginary file is safe!");#}
                        }
                    });
            }
        }

    $("#id_zoneslist").bootstrapTable({
            url:"{{ url_for('bp_game.get_zonelist') }}",
            pagination:true,
            pageList:[10,20],
            toolbar:'#toolbar',
            search:true,
            classes:"table table-hover",
            columns:[{
                field:'idx',
                title:'序号'
                },
                {
                 field:'zone_id',
                 title:'zone_id',
                 hidden:true,
                 },
                {
                field:'game',
                title:'游戏'
                },{
                field:'channel',
                title:'渠道'
                },
                {
                field:'zonename',
                title:'区服'
                },{
                      field: 'operate',
                      title: '操作',
                      align: 'center',
                      valign: 'middle',
                      events: operateEvents,
                      formatter: operateFormatter //自定义方法，添加操作按钮
                  }]
         });
    $('#id_zoneslist').bootstrapTable('hideColumn','zone_id');

{% endblock %}