{% extends "base.html" %}

{% block content %}
    <form id="userlist_form">
    <div class="col-sm-1" style="padding-left: 0">
        <a href="#" class="btn btn-sm btn-primary">创建用户</a>
    </div>
        <div class="col-sm-7" style="padding-left: 0px"></div>
        <div class="col-sm-4" style="padding-right: 0">
            <div class="input-group inline-group">
                <input type="text" class="form-control m-b input-sm"
                       id="search_input" name="keyword"
                       value="{{ pra_keyword }}" placeholder="Search">
                <input type="text" style="display: none">
                <div class="input-group-btn">
                    <button id="search_btn" href="#" type="button"
                            class="btn btn-sm btn-primary search-btn"
                            onclick="change_info()">
                        - 搜索 -
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-striped" id="editable">
            <thead>
            <tr class="text-center">
                <th class="text-center">序号</th>
                <th class="text-center">头像</th>
                <th class="text-center">用户名</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="gradeX">
                <td class="text-center">{{ loop.index }}</td>
                <td class="text-center"><img class="img-rounded" src="{{ user.avatar() }}"></td>
                <td class="text-center">{{ user.username }}</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-xs btn-info">更新</a>
                        <a class="btn btn-xs btn-danger del">删除</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>
{% endblock %}