<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap-Flask Demo Application</title>

    {% include "head_css_js.html" %}

</head>
<body>
<div class="wrapper">
        <!-- Sidebar  -->
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
    <!-- Page Content  -->
</div>


{% block footer %}
{#    {% include "footer.html" %}#}
{% endblock %}


</body>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
</html>