{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap-Flask Demo Application</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
</head>
<body>

<main class="container">
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}


{% block content %}{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

</main>

{{ bootstrap.load_js() }}
</body>
</html>