<!-- Mainly scripts -->
{#<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.1.1.min.js') }}"></script>#}
{#<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>#}
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-table.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-table-zh-CN.min.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>



<!-- Custom and plugin javascript -->
<script type="text/javascript" src="{{ url_for('static',filename='js/hplus.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/plugins/pace/pace.min.js') }}"></script>

<!-- jQuery UI -->
<script type="text/javascript" src="{{ url_for('static',filename='js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/sweetalert.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/waitMe.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/mywaitMe.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static',filename='codemirror-5.32.0/lib/codemirror.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='codemirror-5.32.0/src/authrefresh.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='codemirror-5.32.0/mode/shell/shell.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='codemirror-5.32.0/addon/selection/active-line.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='codemirror-5.32.0/addon/edit/matchbrackets.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='codemirror-5.32.0/addon/display/fullscreen.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static',filename='js/showdown.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>

